<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests" parallel="tests" thread-count="3">

    <listeners>
        <listener class-name="utils.TestngListener"/>
        <listener class-name="utils.RetryTransformer"/>
    </listeners>

    <test name="Chrome + grid">
        <parameter name="browser" value="Chrome"/>
        <parameter name="grid.url" value="http://localhost:4444/wd/hub"/>
        <classes>
            <class name="tests.way2automationTests.practice.registration.AuthorizationPracticeTest"/>
            <class name="tests.way2automationTests.practice.registration.AuthorizationPracticeUniversalTest"/>
        </classes>
    </test>

    <test name="Edge + grid">
        <parameter name="browser" value="Edge"/>
        <parameter name="grid.url" value="http://localhost:4444/wd/hub"/>
        <classes>
            <class name="tests.wikipediaTests.WikiManPageTest"/>
            <class name="tests.way2automationTests.Way2AutomationTest"/>
        </classes>
    </test>

    <test name="Firefox local">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.sqlTests.SqlExTest"/>
            <class name="tests.way2automationTests.practice.bankingApp.BankingAppTest"/>
            <class name="tests.way2automationTests.practice.jquery.DragAndDropJqueryTest"/>
            <class name="tests.way2automationTests.practice.jquery.FramesAndWindowsJqueryTest"/>
            <class name="tests.way2automationTests.practice.jquery.AlertJqueryTest"/>
            <class name="tests.httpwatchTests.HttpWatchAuthenticationTest"/>
        </classes>
    </test>

</suite>
